header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f8f8f8;
  height: 240px;
  padding-top: 20px;
}

.nav-title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.nav-button {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.nav-menu {
  position: relative;
  width: 160px;
}
.nav-menu + .nav-menu {
  margin-left: 40px;
}
.nav-menu > a {
  display: block;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.sub-menu {
  display: block;
  width: auto;
  padding: 10px;
}

.nav-menu > a[aria-expanded="true"] + .sub-menu {
  display: block;
}

.sub-menu a {
  display: block;
  padding: 8px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.nav-menu > a[aria-expanded="true"] + .sub-menu {
  display: block;
}

.nav-menu > a[aria-expanded="false"] + .sub-menu {
  display: none;
}
